{% extends 'crud/layout.html' %}

{% block content %}
<div class="wrapper">
    {# настройка визуализации #}
<div id="container" class="ui container">
    <h1 id="main" >My todo list</h1>
    <p id="position_btheme">
        <button type="button" class="ui blue basic button" id="change_theme">Сменить тему</button>
    </p>
    <h3 id="text">Make your day productive!</h3>
    {# форма для добавления задачи #}
    <form class="ui form" action="{% url 'add' %}" method='POST'>
        {% csrf_token %}
        <div class="field">
            <label id="text">New task</label>
            <label>
                <input type="text" name="title" placeholder="Input yours task">
            </label>
        </div>
        <button class="ui green button" type="submit">Add</button>
    </form>

    {#в цикле перебираем задачи из todolist #}
    {% for task  in todolist %}
    <div class="ui segment part">

        {# выодим id и title каждого task #}
        <p class="ui big header">№ {{ task.id }} {{ task.title }}</p>

        {# проверям выполнено ли task #}
        <table>
        <tr>
        <td>
            {% if task.taskcomplete == False %}
        <span class="ui gray label">Not complete</span>
        </td>
        {# при нажатии кнопки close вызываем функцию обработки update #}
        <td>
        <form class="ui form" action="{% url 'update' todoid=task.id %}" method="post">
            {% csrf_token %}
            <button class="ui primary basic button" type="submit">Close</button>
        </form>
        </td>
        {% else %}
        <td>
        <span class="ui green label">Complete</span>
        </td>
        <td>
        <form class="ui form" action="{% url 'update' todoid=task.id %}" method="post">
            {% csrf_token %}
            <button class="ui yellow basic button" type="submit">Open</button>
        </form>
        </td>
        {% endif %}
        <td>
        <form class="ui form" action="{% url 'delete' todoid=task.id %}" method="post">
            {% csrf_token %}
            <button class="ui negative basic button" type="submit"
            onclick="return confirm('Are you really want to delete??')">Delete</button>
        </form>
        </td>
        </tr>
        </table>

    </div>
    {% endfor %}
</div>
<footer>
<a href="https://t.me/idvasup" id="socialmedia">
    <img src="https://img.shields.io/badge/Telegram-blue?style=for-the-badge&logo=Telegram&logoColor=white" alt="LinkedIn Badge"/>
</a>
<p>©2022 by Serikov Vasiliy</p>
</footer>

</div>
{% endblock content %}
