<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    {# Мета тег для оптимизации отображения под разные устройства #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
{#     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"#}
{#          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">#}
    <link rel="stylesheet" href="{% static 'todolist/css/style.css' %}">


</head>
<body>
{% block content %}

{% endblock content %}
</body>
</html>
<script>
const btn = document.querySelector("#change_theme");
btn.addEventListener("click", function () {
  document.body.classList.toggle("dark-theme");
  let date = new Date(Date.now() + 86400e3);
  date = date.toUTCString();
  console.log(document.cookie, 1)
  if (document.cookie.match(/theme=(.+?)(;|$)/)[1] === 'light'){
      document.cookie = "theme=dark; expires=" + date;
      console.log(document.cookie, 2)
  }
  else{
      document.cookie = "theme=light; expires=" + date;
      console.log(document.cookie, 3)
  }
});
try {
    if (document.cookie.match(/theme=(.+?)(;|$)/)[1] === 'dark') {
        document.body.classList.toggle("dark-theme");
    }
}catch (err){
    let date = new Date(Date.now() + 86400e3);
    date = date.toUTCString();
    document.cookie = "theme=light; expires=" + date;
}
let cords = ['scrollX','scrollY'];
// Перед закрытием записываем в локалсторадж window.scrollX и window.scrollY как scrollX и scrollY
window.addEventListener('unload', () => cords.forEach(cord => localStorage[cord] = window[cord]));
// Прокручиваем страницу к scrollX и scrollY из localStorage
window.scroll(...cords.map(cord => localStorage[cord]));
</script>